<% provide(:title, 'Contact Us') %>
<h1>Contact</h1>
<p> Welcome to the Contact page where everything is a bitch! If you need a reference please refer here: <a href="http://railstutorial.org/help">Rails Tutorial page</a>.
</p>