$full-width:710px;
$background-color: #cff; 
$link-color: #09c;
$visted-link-color: #069;

.container {
  width: $full-width;
  position:fixed;
  top 50%;
  bottom 50%;
  margin-top: 50px;
  margin-left: 150px;
  
}
body {
  background: $background-color;
}

header {
  padding-top: 40px;


img {
  padding: 1em;
  background: white;
}
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: white;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: $link-color;
  text-decoration: none;

$visited-link-color: #069;

 &:hover {
  color: $vistied-link-color;
  text-decoration: underline;
}

 &:visited {
  color: $vistied-link-color:;
}
}

/* Navigation */ 

nav {
  float:right;
  background-color: white;
padding: 0 0.7em;
white-space:nowrap;

 ul {
  margin: 0;
  padding: 0;


 li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;

a {
  padding: 0 5px;
  font-weight:bold;

&:visited { 
  color: $linked-color;


&:hover { 
  text-decoration: underline; 
}
}
}
}
}
}

/* Sign up Botton */
a.signup_button {
margin-left:auto;
margin-right:auto;
display:block;
text-align: center;
width: 190px;
color:#FFF6BF;
background:#234;
font-size:150%;
font-weight:bold;
padding: 20px;
}
/* Round Corners apperently are in! */
.round {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 22px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left:auto;
  margin-right:auto;
}
footer nav {
  float:none;
}
